body {
  font-family: Arial, sans-serif;
}

#title {
  color: #003366;
  text-align: center;
}

#registro-form {
  width: 500px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

button[type="submit"] {
  background-color: #003366;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005580;
}
